<style type="text/css">
    .giohang{
        color:white;
        font-size:medium
         
    }

</style>

<a href="@Url.Action("GioHang","GioHang")" class="giohang" > Giỏ Hàng <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
</span> (@ViewBag.TongSoLuong)</a>

