@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    06 Trần Văn Ơn,<br />
    Phú Hoà, Thủ Dầu Một, Bình Dương, Việt Nam<br />
    <abbr title="Phone">P:</abbr>
    032 914 1153
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>